// Стили для страниц каталога

.breadcrumb {
    background-color: transparent;
    padding: 1.5rem 0;
}

.breadcrumb-item a {
    color: $textDim;
    &:hover {
        text-decoration: underline;
    }
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 1rem;
    &:before {
        content: "";
        background: url(/dist/img/ui/sprite.svg) -400px 0px;
        width: 14px;
        height: 14px;
        transform: rotate(-90deg);
        position: relative;
        top: 4px;
        left: -6px;
    }
}

.catalogue-categories {
    display: flex;
    flex-flow: row nowrap;
}

.catalogue-categories__link {
    white-space: nowrap;
}

.catalogue-categories_spc {
    margin-top: 1rem;
}

.btn_category + .btn_category {
    margin-left: 1rem;
}

.pagination__link {
    padding: 0.5rem 1rem;
}

.pagination_active {
    background-color: #F6F6F6;
    border-radius: 4px;
}