// Стили для страниц каталога

.breadcrumb {
    background-color: transparent;
    padding: 1.5rem 0;
}

.breadcrumb-item a {
    color: $textDim;
    &:hover {
        text-decoration: underline;
    }
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 1rem;
    &:before {
        content: "";
        background: url(/dist/img/ui/sprite.svg) -400px 0px;
        width: 14px;
        height: 14px;
        transform: rotate(-90deg);
        position: relative;
        top: 4px;
        left: -6px;
    }
}

.catalogue_row .good-item {
    padding-top: 0rem;
}

.catalogue-categories {
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
}

.catalogue-categories__link {
    white-space: nowrap;
}

.catalogue-categories_spc {
    margin-top: 1rem;
}

.btn_category + .btn_category {
    margin-left: 1rem;
}

.bottom-nav {
    justify-content: space-between;
    align-items: center;
}

.bottom-nav_spc {
    padding: 2.5rem 0 4rem;
}

.pagination__link {
    padding: 0.5rem 1rem;
}

.pagination_active {
    background-color: #F6F6F6;
    border-radius: 4px;
    &:hover {
        color: inherit;
    }
}

.pagination_next.arrow-right,
.pagination_back.arrow-right {
    &:after {
        background: url(../../dist/img/ui/sprite.svg) -440px 0;
        transform: rotate(-180deg);
        width: 18px;
        height: 18px;
        top: 13px;
        right: -8px;
    }
}

.pagination_back.arrow-right {
    &:after {
        left: -8px;
        top: 11px;
        transform: rotate(0deg);
    }
}

.bottom-nav__quantity {
    color: #999999;
}
