// Стили, общие для всех страниц

* {
    transition: 0.2s;
    &:hover {
        transition: 0.2s;
    }
}

body {
    font-family: $mainFont;
    font-size: 16px;
    line-height: 24px;
}

a {
    color: $textColor;
    &:hover {
        color: $mainColor;
        text-decoration: none;
    }
}

h1 {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
}

h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.title_hl { // Горизонтальная и красная линия под заголовком
    position: relative;
    border-bottom: 1px solid $whisperColor;
    padding-bottom: 1rem;
    &:after {
        content: "";
        position: absolute;
        width: 65px;
        height: 2px;
        background-color: $mainColor;
        left: 0px;
        top: 51px;
    }
}

.arrow-right { // Серая стрелка вправо у ссылок
    position: relative;
    &:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background: url(../../dist/img/ui/sprite.svg) -51px -2px;
        transform: rotate(-90deg);
        top: 5px;
        right: -18px;
    }
}

.btn {
    padding: 0.4rem 1.5rem 0.5rem;
    background-color: $mainColor;
    color: #fff;
    border-radius: 0;
    &:hover {
        background-color: $hoverColor;
        color: #fff;
    }
}

.btn_category {
    padding: 0.4rem 1rem 0.5rem;
    background-color: #F2F2F2;
    border-radius: 100px;
}

.btn_show-more {
    display: none;
    width: 100%;
    background-color: transparent;
    border: 2px solid $mainColor;
    color: $mainColor;
    font-weight: 500;
}

.text-regular {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-small {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.is-opened-js {
    display: block !important;
}

// Всплывающие окна 

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
  }

// Товары

.good-item {
    padding: 1rem;
    padding-bottom: 2rem;
}

.good-item_wrp {
    min-height: 400px;
    &:hover {
        box-shadow: $mainShadow;
        & .good-item__link-more {
            display: block;
        }
    }
}

.good-item__sizes {
    color: $textDim;
}

.good-item__title {
    font-weight: normal;
}

.good-item__link-more {
    display: none;
    color: $mainColor;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 14px;
        background: url(../../dist/img/ui/sprite.svg) -283px 0px;
        left: 85px;
        bottom: 2px;
        transform: rotate(-90deg);
    }
}

.good-item__img {
    width: 207px;
    height: auto;
}

.good-item_text-wrp {
    width: 207px;
}