// Стили, общие для всех страниц

* {
    transition: 0.2s;
    &:hover {
        transition: 0.2s;
    }
}

body {
    font-family: $mainFont;
    font-size: 16px;
    line-height: 24px;
}

a {
    color: $textColor;
    &:hover {
        color: $mainColor;
        text-decoration: none;
    }
}

h1 {
    font-size: 2.25rem;
    line-height: 3rem;
}

h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.5rem;
}

.btn {
    padding: 0.4rem 1.5rem 0.5rem;
    background-color: $mainColor;
    color: #fff;
    border-radius: 0;
    &:hover {
        background-color: $hoverColor;
        color: #fff;
    }
}

.text-regular {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-small {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.is-opened-js {
    display: block !important;
}