// Стили, общие для всех страниц

* {
    transition: 0.2s;
    &:hover {
        transition: 0.2s;
    }
}

body {
    font-family: $mainFont;
    font-size: 16px;
    line-height: 24px;
}

a {
    color: $textColor;
    &:hover {
        color: $mainColor;
        text-decoration: none;
    }
}

i {
    font-family: 'fontawesome' !important;
}

.icon { 
    width: 50px; 
    height: 50px;
    margin: .5em;
  }

.text-regular {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-small {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.is-opened-js {
    display: block !important;
}