// Страница с контактами

.contacts_img-wrp {
    background: url(../../dist/img/contacts.jpg) no-repeat;
}

.contacts_wrp {
    margin-top: 3.5rem;
}


.contacts-author_wrp {
    margin-top: 2.5rem;
}

.contacts-author__name {
    font-weight: 500;
}

.contacts-bid_spc {
    margin: 5rem 0;
}

.contacts-bid_wrp {
    margin-top: 2rem;
}

.contacts-bid-form__input {
    width: 100%;
    & + .contacts-bid-form__input {
        margin-top: 0.5rem;
    }
}

.contacts-bid-form {
    max-width: 350px;
}

.contacts .yandex-map {
    width: 100%;
}
