// Стили для дилерской страницы

.dealer_img-wrp {
    background: url(../../dist/img/dealer.jpg) no-repeat;
}

.dealer_wrp {
    margin-top: 3.5rem;
}

.dealer-info-features_spc {
    margin-top: 2rem;
}