// Стили для страницы товара

.good-gallery-preview {
    display: flex;
}

.good-gallery-preview_spc {
    margin-top: 0.5rem;
}

.good-gallery-preview__item + .good-gallery-preview__item {
    margin-left: 0.5rem
}

.good-gallery-item__link {
    display: block;
    background: url(../../dist/img/ui/sprite.svg) no-repeat;
    background-position: -480px 0;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 10px;
}

.good-gallery-item__img {
    width: 100%;
}

.good-gallery-preview__img {
    max-width: 72px;
}

.good-gallery-item__link .good-gallery-item__img {
    display: none;
}

.good-info-descr_wrp {
    margin-top: 2.5rem;
}

.good-info__title {
    font-size: 1.75rem;
    line-height: 2.25rem;
}

.good-info__sizes {
    color: $textDim;
}

.good-info-descr-table_left-wrp {
    padding-right: 0;
    align-items: baseline;
}

.good-info-descr-table__value {
    padding-left: 0.5rem;
}

.good-info-descr-table_hl {
    border-bottom: 1px dotted #212121;
    flex-grow: 1;
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
}

.good-info-descr__link {
    margin-top: 2rem;
    display: block;
    position: relative;
    padding-left: 2rem;
    text-decoration: underline;
    &:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background: url(/dist/img/ui/sprite.svg) -144px 0;
        left: 0px;
        top: 2px;
    }
    &:hover {
        text-decoration: underline;
    }
}

.good-features_row {
    margin: 4rem -0.5rem 5rem;
}

.good-features-item {
    padding-left: 0;
}

.good-features-item_wrp {
    padding: 0.5rem;
}

.good-features-item__img {
    width: 100%;
}

.weight-popup {
    border-bottom: 1px dashed #212121;
}

// Попапы

.mfp-fade.mfp-bg {
    opacity: 0; 
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
  }

  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }

  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }

  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }

  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }

// Фиксы для lightgallery

.lg-backdrop,
.lg-toolbar,
.lg-thumb-outer {
    background-color: #fff !important;
}

.lg-actions .lg-prev, .lg-actions .lg-next {
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    font-size: 22px;
    margin-top: -10px;
    padding: 8px 10px 9px;
    position: absolute;
    top: 50%;
    z-index: 1080;
    border: none;
    outline: 0;
    &:hover {
        color: inherit;
    }
}

.lg-thumb.lg-group {
    margin:0 auto;
}
