// Стили для хэдера

.header {
    box-shadow: $lightShadow;
}

.header-top a {
    color: $textDim;
    &:hover {
        color: $mainColor;
    }
} 

.header li {
    list-style-type: none;
}

.header-top_spc {
    padding-bottom: 1rem;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 97%;
        height: 1px;
        background-color: $whisperColor;
        left: 25px;
        top: 60px;
    }
}

.header-top-logo {
    margin: 0 auto;
}

.header-top-nav_link-spc {
    margin-left: 2rem;
    &:first-child {
        margin-left: 2.65rem;
    }
}

.header-top__mail_spc {
    padding-left: 1.75rem;
}

/* Hamburger animation */

.mob-header_wrp {
    display: none;
}

.header-hamburger {
	width: 18px;
	height: 12px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
    cursor: pointer;
    top: 22px;
    left: 22px;
    position: relative;
}

.header-hamburger__item {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: black;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.header-hamburger__item:nth-child(1) {top: 0px;}
.header-hamburger__item:nth-child(2) {top: 5px;}
.header-hamburger__item:nth-child(3) {top: 10px;}

.menu-opened .header-hamburger .header-hamburger__item:nth-child(1) {
	top: 6px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.menu-opened .header-hamburger .header-hamburger__item:nth-child(2) {
	opacity: 0;
	left: -18px;
}

.menu-opened .header-hamburger .header-hamburger__item:nth-child(3) {
	top: 6px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.menu-opened .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    transition: 0.3s background;
    margin-left: 272px;
}

.header_low {
    color: $textColor;
}

.header-catalogue {
    margin: 0 auto;
}

.header-catalogue__item {
    position: relative;
}

.header-catalogue__item_spc {
    padding: 0.75rem 1.5rem;
}

.header-catalogue-sub {
    display: none;
    position: absolute;
    left: 7px;
    top: 40px;
    width: 220px;
    box-shadow: $mainShadow;
    padding: 8px 0;
    background-color: #fff;
}

.header-catalogue-sub_go-back {
    display: none;
}

.header-catalogue-sub__link {
    padding: 0.75rem 1rem;
    display: block;
    &:hover {
        background-color: #F6F6F6;
        color: inherit;
    }
}

.header-top__mail {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        background: url(/dist/img/ui/sprite.svg);
        width: 18px;
        height: 18px;
        left: 0px;
        left: 27px;
        background-position: -192px 4px;
    }
}

.header-top__mail_spc {
    padding-left: 3.25rem;
}

.header-catalogue__item_spc {
    position: relative;
    &:nth-child(2) {
        margin-left: 1rem;
    }
}

.header-catalogue__link.open-submenu-js {
    position: relative;
    &:first-child::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 6px;
        background: url(/dist/img/ui/sprite.svg);
        background-position: -51px -2px;
        right: 3px;
        bottom: 19px;
    }
}