// Стили для хэдера

.header {
    box-shadow: $lightShadow;
}

.header-top a {
    color: $textDim;
    &:hover {
        color: $mainColor;
    }
} 

.header li {
    list-style-type: none;
}

.header-top_spc {
    border-bottom: 1px solid $whisperColor;
    padding-bottom: 1rem;
}

.header-top-nav_link-spc {
    margin-left: 2rem;
    &:first-child {
        margin-left: 2.65rem;
    }
}

.header-top__mail_spc {
    padding-left: 1.75rem;
}

.header_low {
    color: $textColor;
}

.header-catalogue {
    margin: 0 auto;
}

.header-catalogue__item {
    position: relative;
}

.header-catalogue__item_spc {
    padding: 0.75rem 1.5rem;
}

.header-catalogue-sub {
    display: none;
    position: absolute;
    left: -20px;
    width: 160px;
}

.header-catalogue-sub__link {
    padding: 0.75rem 1rem;
}