// Страница с историей бренда

.history_wrp {
    margin-top: 3.5rem;
    margin-bottom: 5rem;
}

.history_img-wrp {
    margin-top: 2.5rem;
}

.history_img-group {
    margin: 2.5rem auto 0;
}

.history__img {
    width: 100%;
    display: block;
}