// Стили для главной страницы

/* Слайдер */

.main-banner {
    position: relative;
}

.main-banner_wrp {
    padding-top: 4rem;
    margin: 0 auto;
    height: 480px;
    background: url(../../dist/img/banner/banner-bg.jpg) no-repeat 0 100%;
}

.main-banner-descr_wrp {
    max-width: 920px;
    margin: 0 auto;
}

.main-banner-descr_spc {
    margin-top: 3rem;
}

.main-banner__img {
    mix-blend-mode: multiply;
}

.main-banner-descr__note {
    color: $textDim;
}

.main-banner-descr_buttons {
    margin-top: 2.5rem;
}

.main-banner-descr__link {
    position: relative;
    &:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background: url(../../dist/img/ui/sprite.svg) -51px -2px;
        transform: rotate(-90deg);
        top: 5px;
        right: -18px;
    }
}

.slick-next,
.slick-prev {
    width: 40px;
    height: 40px;
    top: 410px;
    z-index: 90;
    &:before {
        background: url(../../dist/img/ui/slick-arrow.svg) no-repeat;
        width: 40px;
        height: 40px;
        font-size: 42px;
        opacity: 1;
        color: transparent;
    }
}

.slick-prev {
    left: 95px;
}

.slick-next {
    left: 151px;
    top: 390px;
    transform: rotate(180deg);
}

/* Популярные товары */

.popular-goods_spc {
    margin-top: 4rem;
}

.popular-goods_row {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.popular-goods_title-spc {
    margin-left: 1rem;
}

.popular-goods .slick-prev {
    top: -75px;
    right: 50px;
    left: auto;
}

.popular-goods .slick-next {
    top: -95px;
    left: auto;
    right: 0px;
}

/* Основные категории */

.categories {
    background-color: #F6F6F6;
}

.categories_wrp {
    padding-top: 3.5rem;
}

.categories_row {
    margin-top: 2.5rem;
    padding-bottom: 5.5rem;
}

.categories-item_wrp {
    padding: 1.5rem;
}

.categories-item__img-link {
    display: block;
    margin-top: 2.5rem;
}

.categories-item__link {
    margin-top: 2.5rem;
}

.categories-item-col .categories-item__link {
    margin-top: 1rem;
}

.categories-item_text {
    margin-top: 1.5rem;
}

.categories-item-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories-item-col .categories-item__img-link {
    margin-top: 0.75rem;
    max-height: 180px;
    height: auto;
}

.categories-item__img {
    width: 100%;
    max-width: 240px;
}

.categories-item-col .categories-item__img {
    width: 100%;
    max-height: 180px;
}

.categories-item-col .categories-item_wrp {
    padding: 0.5rem;
}

.categories-item__link.arrow-right {
    &:after {
        top: 6px;
    }
}

.categories-item-col .categories-item__img-link {
    margin-top: 0;
}

/* О компании */

.company_wrp {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.company_row {
    margin-top: 2.5rem;
}

.company-item_wrp {
    height: 452px;
    background: url(../../dist/img/company/history.jpg) no-repeat;
    color: #fff;
    padding: 15rem 0 2.5rem 2rem;
    & a {
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }
}

.company-item_text-wrp {
    max-width: 320px;
}

.company-item__note {
    padding-top: 0.5rem;
}

.company-item__link {
    margin-top: 1.5rem;
}

.company-item__link.arrow-right {
    &:after {
        background-position: -323px 0px;
        top: 6px;
    }
}

.company-item-col .company-item_wrp {
    padding: 2rem 0 3.25rem 2rem;
    height: auto;
}

.company-item-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company-item-col .company-item_text-wrp {
    max-width: 210px;
}

.company-item-col .company-item {
    &:first-child .company-item_wrp {
        background: url(../../dist/img/company/industry.jpg) no-repeat;
    }
    &:last-child .company-item_wrp {
        background: url(../../dist/img/company/map.jpg) no-repeat;
    }
}