// Стили для главной страницы

/* Слайдер */

.main-banner {
    position: relative;
}

.main-banner_wrp {
    padding-top: 4rem;
    margin: 0 auto;
    height: 480px;
    background: url(../../dist/img/banner/banner-bg.jpg) no-repeat 0 100%;
}

.main-banner-descr_wrp {
    max-width: 920px;
    margin: 0 auto;
}

.main-banner-descr_spc {
    margin-top: 3rem;
}

.main-banner__img {
    mix-blend-mode: multiply;
}

.main-banner-descr__note {
    color: $textDim;
}

.main-banner-descr_buttons {
    margin-top: 2.5rem;
}

.main-banner-descr__link {
    position: relative;
    &:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background: url(../../dist/img/ui/sprite.svg) -51px -2px;
        transform: rotate(-90deg);
        top: 5px;
        right: -18px;
    }
}

.slick-next,
.slick-prev {
    width: 40px;
    height: 40px;
    top: 410px;
    z-index: 90;
    &:before {
        background: url(../../dist/img/ui/slick-arrow.svg) no-repeat;
        width: 40px;
        height: 40px;
        font-size: 42px;
        opacity: 1;
        color: transparent;
    }
}

.slick-prev {
    left: 95px;
}

.slick-next {
    left: 151px;
    top: 390px;
    transform: rotate(180deg);
}

/* Популярные товары */

.popular-goods_spc {
    margin-top: 4rem;
}

.popular-goods_row {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.popular-goods_wrp {
    max-width: 1170px;
}

.popular-goods_title-spc {
    margin-left: 1rem;
}

.popular-goods .slick-prev {
    top: -75px;
    right: 50px;
    left: auto;
}

.popular-goods .slick-next {
    top: -95px;
    left: auto;
    right: 0px;
}