@media (max-width: 576px) {

    // Стили для главной

    .main-banner_wrp {
        height: 433px;
        background-size: 600px;
        background-position: -150px 100%;
        padding-top: 1rem;
    }

    .main-banner-descr_wrp {
        flex-direction: column;
    }

    .main-banner__img {
        order: 1;
        width: 209px;
    }

    .main-banner-descr {
        order: 2;
    }

    .main-banner-descr__link {
        display: none;
    }

    .categories-item__img-link {
        margin-right: 0rem;
    }

    .company-item_wrp,
    .company-item-col .company-item_wrp {
        height: 204px;
    }

    .company-item_history                    {background: url(/dist/img/company/history.jpg) 50% 0;}
    .company-item-col .company-item_industry {background: url(../../dist/img/company/industry.jpg) 50% 0 !important;}
    .company-item-col .company-item_map      {background: url(../../dist/img/company/map.jpg) 50% 0 !important;}

    // Каталог

    .catalogue .good-item {
        border: 1px solid $whisperColor;
        margin-top: -1px;
        &:nth-child(2n) {
        margin-left: -1px;
        }
    }

    .catalogue .good-item__img {
        width: 100%;
    }
}