@media (max-width: 1199.9px) {

    // Общие стили

    .good-item__link-more {
        visibility: visible;
    }

    .good-item__img,
    .good-item_text-wrp {
        width: 178px;
    }

    // Стили для хэдера

    .header-top-nav {
        margin-right: -0.5rem;
    }

    .header-top-nav_link-spc:first-child {
        margin-left: 3.9rem;
    }

    .header-top-logo {
        margin-left: -0.75rem;
    }

    // Стили для главной 

    .slick-prev {
        left: 0px;
    }

    .slick-next {
        left: 56px;
    }

    .categories_row {
        padding-bottom: 3rem;
    }

    .categories-item__img-link {
        max-width: 208px;
        margin-top: 1rem;
    }

    .categories-item__link {
        margin-top: 1.5rem;
    }

    .categories-item-col .categories-item__img-link {
        max-width: 120px;
    }

    .categories-item-col .categories-item_wrp {
        padding: 1rem;
    }

    .company-item_wrp {
        height: 382px;
        padding: 12rem 0 2.5rem 2rem;
    }

    .company-item-col .company-item_wrp {
        height: 175px;
    }
}