@media (max-width: 1199.9px) {

    // Стили для хэдера

    .header-top-nav {
        margin-right: -0.5rem;
    }

    .header-top-nav_link-spc:first-child {
        margin-left: 3.9rem;
    }

    .header-top-logo {
        margin-left: -0.75rem;
    }

    // Стили для главной 

    .slick-prev {
        left: 0px;
    }

    .slick-next {
        left: 56px;
    }
}