@media (max-width: 992px) {

    // Общие стили

    .good-item__img,
    .good-item_text-wrp {
        width: 156px;
    }

    .breadcrumb_hl {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $whisperColor;
            top: 3.25rem;
        }
    }

    // Стили для хэдера

    .header_row {
        display: none;
    }

    .mob-header_wrp {
        display: block;
        height: 56px;
        box-shadow: $lightShadow;
    }

    .header-top__mail {
        display: none;
    }

    .header-top-logo {
        display: none;
    }

    .header-catalogue-sub {
        display: block;
        left: -265px;
        overflow-x: hidden;
    }

    .menu-opened .header_row {
        display: flex;
        flex-direction: column;
        margin-top: 4.5rem;
        height: 100%;
        width: 272px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 100000;
    }

    .menu-opened .header_low {
        order: 1;
    }

    .menu-opened .header-top {
        order: 2;
    }

    .menu-opened .header-catalogue__item_spc:nth-child(2) {
        margin-left: 0;
    }

    .menu-opened .header-top-nav_link-spc {
        margin: 0;
        padding: 0.75rem 1.5rem;
    }

    .menu-opened .header-top-nav__link {
        color: $textColor;
    }

    .menu-opened .header-catalogue {
        display: flex;
        flex-direction: column;
        padding-bottom: 0.75rem;
        margin-top: -1rem;
    }

    .menu-opened .header-top-nav {
        flex-direction: column;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 0.75rem;
    }

    .menu-opened .header-top_spc {
        &:after {
            width: 272px;
            left: 15px;
            top: 1px;
        }
    }

    .menu-opened .header-top-nav__link {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            background: url(../../dist/img/ui/sprite.svg);
            width: 8px;
            height: 18px;
            background-position: -99px 65px;
            transform: rotate(180deg);
            top: 19px;
            right: 22px;
        }
    }
    .menu-opened .header-catalogue__link {
        position: relative;
        display: block;
        &:after {
            position: absolute;
            content: "";
            background: url(../../dist/img/ui/sprite.svg);
            width: 8px;
            height: 18px;
            background-position: -99px 65px;
            transform: rotate(180deg);
            top: 7px;
            right: 0px;
        }
    }

    .menu-opened .header-catalogue__link.open-submenu-js {
        &:first-child {
            &:after {
                background-position: -99px 65px;
                transform: rotate(180deg);
                top: 18px;
                right: 25px;
                width: 8px;
                height: 18px;
            }
        }
    }

    .menu-opened .header-catalogue-sub {
        height: 100%;
        z-index: 10000;
        margin-left: -0.5rem;
        margin-top: 2rem;
        position: fixed;
        padding-top: 1rem;
        box-shadow: none;
    }
    
    .menu-opened .header-catalogue-sub__item {
        position: relative;
        border-bottom: 1px solid $whisperColor;
        &:after {
            position: absolute;
            content: "";
            background: url(../../dist/img/ui/sprite.svg);
            background-position: -99px 65px;
            transform: rotate(180deg);
            top: 18px;
            right: 24px;
            width: 8px;
            height: 18px;
        }
    }

    .menu-opened .header-catalogue-sub_go-back {
        display: block;
        margin-top: -1rem;
        padding-left: 2rem;
        &:after {
            transform: rotate(0deg);
            left: 25px;
            top: 14px;
        }
        &:hover {
            background-color: #fff;
        }
    }

    .menu-opened .header-catalogue-sub.is-opened-js {
        left: 0px;
        transition: 0.2s;
        width: 272px;
    }

    .menu-opened .header-catalogue-sub .header-catalogue-sub__link {
        padding: 0.75rem 1rem 0.75rem 1.5rem;
    }

    // Главная

    .main-slider__img {
        width: 270px;
    }

    .main-slider_wrp {
        height: 350px;
        padding-top: 2.5rem;
        background-size: 660px;
        background-position: 35px 100%;
    }

    .main-slider-descr__title {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .main-slider-descr_buttons {
        margin-top: 1.5rem;
    }

    .popular-goods_row {
        margin-top: 1.5rem;
    }

    .categories-item_wrp {
        height: 136px;
    }

    .categories-item-col .categories-item_wrp,
    .categories-item_wrp {
        padding: 0.5rem;
    }

    .categories-item__img-link {
        max-width: 120px;
        float: right;
        margin-top: -3.75rem;
    }

    .categories-item__title {
        padding-top: 2rem;
    }

    .categories-item-col .categories-item__title {
        padding-top: 0.5rem;
    }

    .categories-item__link,
    .categories-item-col .categories-item__link {
        margin-top: 0.25rem;
    }

    .categories-item-col .categories-item__img-link {
        max-height: 120px;
    }

    .categories-item-col .categories-item_wrp {
        &:last-child {
            margin-top: 1rem;
        }
    }

    .categories-item-col {
        margin-top: 1rem;
    }

    .company_wrp {
        margin-bottom: 3rem;
    }

    .company-item_wrp {
        height: 180px;
        padding: 1.5rem 0 2rem 1rem;
    }

    .company-item_history                    {background-image: url(../../dist/img/company/history-mob.jpg);}
    .company-item-col .company-item_industry {background-image: url(../../dist/img/company/industry-mob.jpg) !important;}
    .company-item-col .company-item_map      {background-image: url(../../dist/img/company/map-mob.jpg) !important;}

    .company-item-col .company-item_wrp {
        padding: 1.5rem 0 3.25rem 1rem;
    }

    .company-item__title {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .company-item_text-wrp,
    .company-item-col .company-item_text-wrp {
        max-width: 374px;
    }

    .company-item-col .company-item {
        margin-top: 1rem;
    }

    // Подвал

    .footer_row {
        padding: 2rem 0 2.5rem;
    }

    .footer-item-col1 {
        text-align: center;
    }

    .footer-item-col2,
    .footer-item-col3,
    .footer-item-col4 {
        display: none;
    }

    // Каталог товаров

    .breadcrumb {
        padding: 0.75rem 0;
    }

    .breadcrumb .breadcrumb-item {
        display: none;
        font-size: 1rem;
        line-height: 1.5rem;
        &:nth-last-child(2) {
            display: block;
        }
        &:before {
            background: url(../../dist/img/ui/sprite.svg) -97px 0px;
            transform: rotate(0deg);
            width: 14px;
            height: 20px;
            top: 5px;
            left: -12px;
        }
    }

    .bottom-nav {
        flex-direction: column;
    }

    .pagination {
        display: none;
    }
    
    .btn_show-more {
        display: block;
        margin-top: 2rem;
    }

    .catalogue-sort {
        margin-top: 2.5rem;
    }

    .catalogue-sort__list {
        justify-content: flex-start;
    }

    // Контакты 

    
    .contacts-info-note__item {
        margin-top: 1.5rem;
    }
    
    .contacts-bid-form {
        max-width: none;
    }

    .btn_contacts {
        display: block;
    }

    .contacts .yandex-map {
        margin-top: 3.5rem;
        height: 304px;
    }

    .contacts-bid_spc {
        margin-top: 3.5rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .good-gallery_spc {
        position: relative;
        top: 0px;
    }
}