@media (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h3 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    h4, h5 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .title_hl {
        &:after {
            top: 47px;
        }
    }

    .top-img_wrp {
        height: 220px;
    }

    // Стили для главной

    .main-slider_wrp {
        padding-top: 3.5rem;
        height: 276px;
        background-size: 530px;
        background-position: 5px 100%;
    }

    .main-slider__img {
        width: 150px;
    }

    .main-slider-descr_spc {
        margin-top: 0.5rem;
    }

    .categories-item__img-link {
        margin-right: 7.5rem;
    }

    // Каталог

    .catalogue .good-item_wrp {
        min-height: auto;
    }

    // Страница с товаром

    .good-info__title {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .good-gallery-preview {
        display: none;
    }

    .good-gallery .slick-dots {
        text-align: left;
    }

    .good-gallery .slick-dots li button:before {
        width: 8px;
        height: 8px;
        content: "";
        background-color: #CCCCCC;
        border-radius: 50%;
    }

    .good-gallery .slick-dots li {
        width: 8px;
        height: 8px;
    }
    
    .good-gallery li.slick-active button:before {
        background-color: #666666;
    }

    .good-gallery .slick-dots {
        bottom: 3px;
    }

    .good-gallery .slick-dots li.slick-active button:before,
    .good-gallery .slick-dots li button:before {
        opacity: 1;
    }

    .good-info-descr-table_left-wrp,
    .good-info-descr-table__value {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: $whisperColor;
            bottom: 0;
            left: -15px;
        }
        &:last-child::after,
        &:nth-last-child(2)::after {
            display: none;
        }
    }

    .good-info-descr-table_left-wrp {
        &:after {
            left: 15px;
        }
    }

    .good-info-descr-table_hl {
        display: none;
    }

    .good-info-descr-table__title,
    .good-info-descr-table__value {
        padding-bottom: 0.5rem;
    }

    .btn_buy {
        width: 100%;
    }

    // Дилеры

    .dealer .yandex-map {
        height: 340px;
        margin: 3.5rem 0 3rem;
    }

    .dealer-info-features_spc {
        margin-top: 1.25rem;
    }

    .dealer-info-features__item {
        padding: 1.25rem 1rem;
    }
}