// Цвета

$mainColor: #E30C13;
$hoverColor: #B1060B;
$textColor: #212121;
$textDim: #666666;
$whisperColor: #E5E5E5;
$disabledColor: #BBBBBB;
$successColor: #4CAF50;
$errorColor: #F44336;

// Шрифты

$mainFont: 'Geometria', sans-serif;

// Тени

$mainShadow: 0px 14px 25px rgba(0, 0, 0, 0.16);
$lightShadow: 0px 2px 8px rgba(0, 0, 0, 0.08);