// Где купить

.where-to-buy_wrp {
    margin: 2.5rem auto 5rem;
}

.where-to-buy_select-wrp {
    margin-top: 1rem;
    position: relative;
}

.where-to-buy__option {
	color: #212121;
	margin-top: 10px;
}

.where-to-buy__select {
    width: 100%;
    color: #BBBBBB;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-color: transparent;
}

.jq-selectbox {
	background-color: transparent;
}

.jq-selectbox li {
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding: 0.6rem 1rem;
}

.jq-selectbox li:hover,
.jq-selectbox li.selected {
	background-color: #F6F6F6;
	color: inherit;
}

.jq-selectbox__select {
	background: none;
	border-radius: 0px;
	height: 42px;
	box-shadow: none;
	font: inherit;
}

.jq-selectbox.focused.opened:focus {
    background-color: transparent;
}

.jq-selectbox__trigger-arrow {
	display: none;
}

.jq-selectbox__trigger {
	position: absolute;
	content: "";
	background: url(../../dist/img/ui/sprite.svg) no-repeat;
	border-left: none;
	width: 24px;
	height: 24px;
	background-position: -40px 0px;
	right: 14px;
    top: 15px;
}

.jq-selectbox__select-text {
	padding-top: 0.45rem;
	padding-left: 0.3rem;
}

.jq-selectbox__dropdown {
	box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.16);
	border: none;
	border-radius: 0px;
}

.where-to-buy .yandex-map {
    height: 480px;
    margin-top: 2.5rem;
}

.where-to-buy-list {
    margin-top: 1.75rem;
}

.where-to-buy-list-item {
    padding: 1.75rem 1rem;
}

.where-to-buy-list-item__link {
    color: $mainColor;
}

.where-to-buy-list-item__adress {
    max-width: 440px;
}